@import url("https://fonts.googleapis.com/css?family=Gilda+Display|Kameron:wght@400;700");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #ACAEA6;
  --secondary-color: #F3E6DD;
  --accent1-color: #8c4843;
  --accent2-color: #AC9273;
  --light-accent-color: #E9DBC9;

  /* change the values below to your chosen font(s) */
  --heading-font: "Gilda Display";
  --paragraph-font: Kameron, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--light-accent-color);
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-background-color: var(--accent1-color);
}

body {
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    }

ul {
    display: grid;
    grid-template-columns: 140px 120px 100px 100px 50px;
    justify-content: end;
}
nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    }

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
    }

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    }

li {
    display: inline;
    background-color: var(--light-accent-color);
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 2em;
}

#quote {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    padding: 1em;
    font-size: 1.5em;
    opacity: 0.7;
}

#quote p {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    padding: 1em;
}

#schedule {
    text-align: center;
} 

#schedule p {
    padding: 0em;
    font-size: 1.2em;
    color: var(--nav-hover-background-color);
} 

footer {
    text-align: center;
    color: var(--accent1-color);
    font-size: 1.1em;
}

footer p {
    padding: 0em;
    margin: 0em;
}

strong {
    font-weight: 700;
    font-size: 1.5em;
}

